---
layout: default
---
ID: {{ post.id }}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }} </h1>
  </header>

    {% assign path = '_units/' | append: page.course_id | append:'/' %}

    
   <ul class="post-list">
         
          
    {% for unit in site.units %}
          
      <li>
     
        <h2>
          <a class="post-link" href="{{ unit.url | prepend: site.baseurl }}">{{ unit.title }} > {{ path }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
    
    
    
    <h1>----</h1>
    
    {% assign currentCourseSections = site.sections | where: "course" , page.course_id %}
    
    {% assign units = currentCourseSections | sort: 'unit' | map: 'unit' %}
    {% assign previousUnitLoopValue = '' %}
    {% for unit in units %}
        {% if unit == previousUnitLoopValue %}
            {% continue %}
        {% endif %}
    
        <h1>Unit {{unit}}</h1>
        {% assign sectionsForUnit = (currentCourseSections | where: "unit" , unit | sort: 'unit') %}
        
        
            {% assign lessons = sectionsForUnit | sort: 'lesson' | map: 'lesson'  %}
            {% assign previousLessonLoopValue = '' %}
            {% for lesson in lessons %}
                {% if lesson == previousLessonLoopValue %}
                    {% continue %}
                {% endif %}
                <h1>Lesson {{lesson}}</h1>
                {% assign sectionsForLesson = (sectionsForUnit | where: "lesson" , lesson | sort: 'lesson') %}
                {% for sectionForLesson in sectionsForLesson %}
                    <h2>{{ sectionForLesson.title }}</h2>
                {% endfor %}
                {% assign previousLessonLoopValue = lesson %}
            {% endfor %}
            
        
        {% assign previousUnitLoopValue = unit %}
    
    
    {% endfor %}
    
    
    
</div>
